.button {
  display: inline-block;
  padding: 10px 15px;
  font-size: 1.6rem;
  border: 0 none;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  line-height: 1.3;
  background-color: transparent;
  border-radius: 6px;
  transition: color .2s linear, background-color .25s 0s linear;
  cursor: pointer;
  min-width: 100px;

  &:hover {
    text-decoration: none;
  }
  &:not(.no-hover):hover {
    background-color: #f6f6f6;
  }
  &:focus {
    outline: none;
  }
  &.disabled,
  &[disabled] {
    cursor: default;
    background-color: #8e8e8e;
    color: white;
  }

  // normal (line)
  // ==================
  &.normal {
    border-radius: 6px;
    color: lime;
    background-color: white;
    border: solid 2px lime;
    &.on, &:not(.no-hover):hover {
      color: white;
      background-color: lime;
    }
  }

  // primary (orange)
  // =====================
  &.primary {
    color: white;
    background-color: orange;
    border: none;
    &.on, &:not(.no-hover):hover {
      color: white;
      background-color: orange;
    }
  }
}